name: Check Lint

on:
  workflow_dispatch:
  push:
    branches:
    - main
  schedule:
  # Run every sunday at 00:00 AM.
    - cron: "0 0 * * 0"
  pull_request:
    branches: [main]
    paths:
      - 'README.md'
      - '.github/workflows/main.yml'

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Awesome linter
        run: npx awesome-lint
      - name: Check links
        uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.github/workflows/link_checker_config.json'

